.portfolio {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.portfolio-header {
  text-align: center;
  margin-bottom: 20px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.portfolio-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

ul {
  padding: 0;
}

.portfolio-card img {
  width: 100%;
  border-radius: 5px;
}

.portfolio-card h2 {
  font-size: 24px;
  margin: 0;
}

.portfolio-card p {
  margin-top: 10px;
  
}

.portfolio-card a {
  display: inline-block;
  margin-top: 10px;
  background-color: #f1e7d0;
  color: #091a28;
  border: 1px solid #091a28 ;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.portfolio-card a:hover {
  /* background-color: #0056b3; */
}

li {
  list-style-type: none;
}

.dark-mode .portfolio-card{
  background-color: #f1e7d0;
  color: #433422;
  border: 1px solid #FFD700 ;
}

.dark-mode .portfolio-card a{
  background-color: #433422 ;
  color: #FFD700 ;
  border: 1px solid #433422 ;
}


  /* For screens with a maximum width of 768px, show the sidebar */
  @media screen and (max-width: 768px) {

    p{
      font-size: .8em;
    }

    a{
      font-size: .7em;
      font-weight: bold;
    }

    /* Adjust header text size */
    h1, h2, h3 {
      font-size: 1em;
    }

    .tag{
      font-size: .7em;
    }

  }