@media screen and (min-width: 1600px) {
    .parchment-background {
        /* Set the background image to your parchment texture */
        background-image: url('/parchment-image.jpg'); /* Use the correct path to your image */
        background-size: cover;
        margin-left: 10%;
        margin-right: 10%;
        background-attachment: fixed; /* Ensures the background remains fixed */
        background-color: rgba(255, 255, 255, 0.95); /* Slightly lighter background color */
        background-blend-mode: overlay; /* Adjust blend mode to your preference */
        border: 1px solid #e7c877; /* Adjust the color to match parchment */
        border-radius: 5px; /* Soften the edges */
        box-sizing: border-box; /* Include the border in the element's dimensions */
        padding: 20px; /* Add padding for content spacing */
        /* font-family: 'Lugrasimo', cursive; */
        color: #5a442c; /* Adjust text color to match parchment look */
        color: #090903; /* Adjust text color to match parchment look */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adjust shadow properties */
    }

    /* Styles for the side images */
    .side-image {
        position: fixed;
        top: 0;
        height: 100%;
        width: 50px; /* Adjust the width as needed */
        background-image: url('/img/test.jpg'); /* Your side image */
        background-size: cover;
        background-position: center;
        z-index: 1; /* Ensure side images are on top of parchment */
    }

    .left-image {
        left: 0;
    }

    .right-image {
        right: 0;
    }

    /* Styles for the parchment container */
    .parchment-container {
        position: relative;
        margin: 0 25%;
        max-width: 1200px; /* Adjust the maximum width as needed */
        z-index: 2; /* Ensure the parchment content is on top of side images */
    }

    /* Your existing content styles */
    .parchment-content {
        /* Your chapter content styles */
    }
}

/* For screens with a maximum width of 768px, show the sidebar */
@media screen and (max-width: 768px) {
    .landing-page {
        margin: 2em 5%;
    }

    /* Adjust header text size */
    h1, h2, h3 {
        font-size: 1.2em;
    }

    p {
        font-size: .9em;
    }

    li{
        font-size: 0.7em; /* Reduce font size for links */
        font-weight: bold;
    }
}
